/* ------Disables arrows on form ------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
/* ------------------------------------*/

* {
    margin: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}

.